<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="..\static\Style.css">
    <title>Pedro Antonio Rizzo Toledo - Sobre</title>
</head>
<body background="..\static\Imagens\Background.png">
    <div class="menu">
        <ul>
            <li><a href="..\home">Home</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="..\trabalhos">Trabalhos</a></li>
        </ul>
    </div>
    <div class="logo">
        <img src="..\static\Imagens\logo.png">
    </div>
    <div class="Sobre">
        <h2>Sobre mim:</h2>
        <p>Me chamo Pedro Antonio Rizzo Toledo, sou técnico em Desenvolvimento de Sistemas, e planejo me tornar desenvolvedor de jogos.<br>Minhas formações incluem:</p>
        <ul>
            <li>Desenvolvimento de Sistemas - Completo</li>
            <li>Inglês - Fluente</li>
            <li>Desenvolvimento de Software Multiplataforma - Em Andamento</li>
            <li>Jogos Digitais - Em Andamento</li>
        </ul>
    </div>
    <div id="normal" class="Rodape">
        <ul>
            <li><img src="..\static\Imagens\Telefone.png">(12)99710-7625</li>
            <li><img src="..\static\Imagens\Gmail.png">pedroantoniortoledo@gmail.com</li>
            <li><img src="..\static\Imagens\GitHub.png">@Pedro-Toledo</li>
        </ul>
    </div>
</body>
</html>