.menu
{
    height: 50px;
    width: 102%;
    margin-left: -1.32%;
    background-color: #8a2be2;
}

.menu ul
{
    word-spacing: 35px;
    margin-top: -10px;
    list-style-type: none;
    padding-left: 60px;
}

.menu li
{
    margin-top: 12px;
    font-size: 26px;
    display: inline-block;
}

.logo img
{
    margin-left: 48%;
    height: 50px;
    width: 50px;
}

.menu a
{
    color: white;
    text-decoration: none;
}

.Inicial
{
    padding-top: 90px;
    line-height: 10px;
}

.Inicial table
{
    float: right;
    margin-top: 7%;
    margin-right: 15%;
}

.Inicial img
{
    margin-left: 15%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
}

.Inicial h2
{
    color: white;
    font-size: 30px;
}

.Inicial p
{
    color: white;
    font-size: 18px;
    text-align: right;
}

.Sobre
{
    margin-left: 100px;
}

.Sobre h2
{
    color: white;
    padding-top: 50px;
    font-size: 28px;
}

.Sobre p
{
    font-size: 20px;
    color: white;
}

.Sobre li
{
    color: white;
    font-size: 20px;
}

.Quadrado
{
    margin-left: 50px;
    margin-top: 50px;
    background-color: blueviolet;
    width: 200px;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    float: left;
}

.Quadrado img
{
    padding-top: 20px;
    padding-bottom: 10px;
    height: 180px;
    width: 150px;
}

.Quadrado hr
{
    width: 80%;
}

.Titulo
{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.Descricao
{
    font-size: 14px;
    color: white;
    font-weight: normal;
}

#tra
{
    margin-top: 250px;
}

#normal
{
    margin-top: 100px;
}

.Rodape
{
    margin-left: -1.32%;
    padding-top: 10px;
    width: 102%;
    font-size: 14px;
    background-color: blueviolet;
    padding-bottom: 10px;
    line-height: 20px;
}

.Rodape img
{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.Rodape ul
{
    list-style-type: none;
}

@media (max-width: 1000px)
{
    .Inicial table
    {
        margin-right: 9%;
    }
    .Inicial img
    {
        margin-left: 9%;
    }
}

@media (max-width: 800px)
{
    .menu
    {
        margin-left: -1%;
    }
    .Rodape
    {
        margin-left: -1%;
    }
    .Inicial table
    {
        margin-right: 3%;
    }
    .Inicial img
    {
        margin-left: 3%;
    }
}

@media (max-width: 700px)
{
    .Inicial table
    {
        float: none;
        margin: 0 auto;
    }
    .Inicial h2
    {
        text-align: center;
    }
    .Inicial p
    {
        text-align: center;
    }
    .Inicial img
    {
        margin-left: 30%;
    }
}

@media (max-width: 500px)
{
    .menu
    {
        width: 103%;
        margin-left: -1.4%;
    }
    .Rodape
    {
        width: 103%;
        margin-left: -1.4%;
    }
    .Inicial img
    {
        margin-left: 25%;
    }
}

@media (max-width: 400px)
{
    .menu
    {
        height: 40px;
        width: 104%;
        margin-left: -2%;
    }
    .menu ul
    {
        word-spacing: 25px;
        padding-left: 40px;
    }
    .menu li
    {
        font-size: 20px;
    }
    .Rodape
    {
        width: 104%;
        margin-left: -2%;
    }
    .Inicial h2
    {
        line-break: break-all;
        line-height: 25px;
    }
    .Inicial p
    {
        line-break: break-all;
        line-height: 15px;
    }
    .Inicial img
    {
        margin-left: 18%;
    }
}

@media (max-width: 350px)
{
    .Inicial img
    {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 300px)
{
    .menu
    {
        width: 106%;
        margin-left: -3%;
    }
    .Rodape
    {
        width: 106%;
        margin-left: -3%;
    }
    .Inicial img
    {
        height: 150px;
        width: 150px;
        margin-left: 25%;
    }
}

@media (max-width: 250px)
{
    .Inicial img
    {
        margin-left: 15%;
    }
}